<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="Some of the best haikus you'll ever read about our rescue dog June">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="navig">
      <a class="h1" href="/">Welcome</a>
      <a href="" class="h1" id="a">First</a>
      <a class="h1">Second</a>
      <a class="h1">Third</a>
    </div>
</html>